// Variables
$primary-background: rgba(56, 56, 56, 1);
$secondary-background: rgba(80, 124, 54, 1);
$title-block-background: linear-gradient(rgba(57, 155, 67, 1), rgba(123, 205, 59, 1));

$primary-text: rgba(255, 255, 255, 1);
$secondary-text: rgba(0, 0, 0, 1);
